{
  "extends": ["airbnb", "airbnb/hooks"],
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "indent": [2, 2],
    "import/no-dynamic-require": 0,
    "no-param-reassign": ["error", { "props": false }],
    "no-use-before-define": ["error", {
      "functions": false,
      "classes": false,
      "variables": false
    }],
    "no-plusplus": ["error", {
      "allowForLoopAfterthoughts": true
    }],
    "max-len": ["error", 100],
    "strict": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}