.header {

  .header__content {
    background-color: $background-header;
    height: $header-height;
    
    // &::before {
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   border-radius: 100% 50%;
    //   width: 340px;
    //   height: 80px;
    //   background-color: white;
    //   right: -5px;
    //   top: 40px;
    // }
    // &::after {
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   border-radius: 100% 50%;
    //   width: 300px;
    //   height: 70px;
    //   background-color: #e0efe3;
    //   left: 0;
    //   top: 27px;
    // }
    .header__section {
      padding: 80px 10px 0 10px;
      .header__cabinet--image,
      .header__person--image {
        width: 90%;
      }
      .header__description {
        color: $header-description-color;
      }
  
      .description__offers,
      .description__title,
      .description__text {
        text-align: center;
        width: 100%;
      }
  
      .description__title  {
        color: #B9D0EF;
        letter-spacing: 1.6px;
        margin: 0;
      }

      .description__text {
        font-weight: 600;
        letter-spacing: 0px;
      }

      .description__offers {
        color: #B9D0EF;

        h6 {
          font-weight: 400;

          .MuiSvgIcon-root {
            font-size: 20px;
            margin: 0 3px 0 8px;
          }
          span {
            position: relative;
            top: -6px;
          }
        }
      }
    }

    .header__arrow {
      width: 100%;
      display: block;
      text-align: center;
      position: relative;
      top: -55px;
      .arrow__down {
        margin: auto;
        width: 32px;
        height: 32px;
        background-color: #4480C5;
        color: $white;
        border-radius: 50%;

        .arrow__icon {
          font-size: 28px;
          position: relative;
          top: 3px;
        }
      }
    }
  }
}