// colors
$white: #fff;

$background:#F1F6FB;


// navigation
$background-navigation: $white;
$navigation-height: 52px;

// header
$background-header: #16437E; 
$header-height: 380px;
$header-description-color: $white;