@import "variables";
@import "normalizer";

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: $background;
  margin: 0;
  padding: 0;
}

@import 'components/navigation';
@import 'components/header';
