@import "variables";
@import "normalizer";
@import "animations";

* {
  font-family: 'Montserrat', sans-serif !important;
}

body {
  background-color: $background;
  margin: 0;
  padding: 0;
}

.divider {
  border: 0;
  background-color: $blue-200;
  height: 1px;
}

.hostgator-main {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
}

@import 'components/navigation';
@import 'components/banner';
@import 'components/billing/billing';
